<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <h1>Welcome to the Home Page</h1>
    <p>Now the time is {{currentTime}}</p>
    <p>{{memeReview message}}</p>
    {{> footer}}
  </body>
</html>
